.image-slideshow { width: 100%; height: 500px; }
.image-gallery { width: 218px; height:  218px; }
.image-bordered { border: 1px solid black; padding: 5px; }

.border-circle {  border-radius: 50%; }

@media screen and (max-width: 500px){
  .image-slideshow { height: 250px; }
  .image-gallery { width: 150px; height:  150px; }  
}
