* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$listaCoresEscuro: (
'ecru': #C1AE7C, 'gray-blue': #628395, 'white': #ffff, 'silver-pink': #D5BBB1,
'baby-blue-eyes': #A1C6EA, 'light-blue': #87CEEB, 'cyan': #009688,
'aqua': #00FFFF, 'light-green': #8BC34A, 'lime': #CDDC39,
'khaki': #F0E68C, 'amber': #FFC107, 'orange': #FF9800, 'light-gray': #F1F1F1,
'gray': #9E9E9E, 'pale-red': #FFDDDD, 'pale-yellow': #FFFFCC,
'pale-green': #DDFFDD, 'pale-blue': #FFFFFF);
$listaCoresClaro: (
'raisin-black': #272727, 'tumbleweed': #CEA07E,
'eggplant': #5E4352, 'dark-eggplant': #5E4352,
'indigo': #3F51B5, 'blue': #2196F3, 'green': #4CAF50, 'deep-purple': #673AB7,
'red': #F44336, 'pink': #E91E63, 'purple': #9C27B0, 'teal': #009688,
'deep-orange': #FF5722, 'blue-gray':  #607D8B, 'brown': #795548,
'dark-gray': #616161, 'blue-telegram': #35ADE1, 'blue-twitter': #2AA9E0,
'blue-linkedin': #0274B3);

@mixin fundo($lista, $corFundo) {

    @each $nome,
    $valor in $lista {
        .#{$nome},
        .#{$nome}:hover {
            background-color: $valor !important;
            color: $corFundo !important;
        }
        .#{$nome}-darker,
        .#{$nome}-darker:hover {
            background-color: darken($valor, 10%) !important;
            color: $corFundo !important;
        }
        .#{$nome}-lighten,
        .#{$nome}-lighten:hover {
            background-color: darken($valor, 5%) !important;
            color: $corFundo !important;
        }
    }
}

@include fundo($listaCoresEscuro, black);
@include fundo($listaCoresClaro, white);


.gradient {
  background-image: linear-gradient(to right, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);
  color: white !important;
}

.padding-8 { padding: 8px; }
.padding-10 { padding: 10px; }
.padding-16 { padding: 16px; }

.text-indent { text-indent: 10px; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
}
.btn-block { width: 100%; }

.float-left   { float: left;  }
.float-right  { float: right; }


.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
